.wsui h1 {
  margin: 20px;
  font-family: "Times New Roman", Times, serif;
  text-transform: uppercase;
}

.wsui .row {
  justify-content: center;
}

.wsui footer, header button {
  margin: 20px;
}

.wsui #product-item {
  max-width: 250px;
  min-height: 400px;
  margin: 10px;
}

.wsui .card-text {
  font-size: 0.8rem;
}

.wsui img {
  width: 250px;
  height: 250px;
  cursor: pointer;
}

.wsui .checkout-list img {
    width: 100px;
    height: 100px;
}

.wsui .price {
  position: absolute;
  bottom: 20px;
}

.wsui .buy-button {
    position: absolute;
    right: 15px;
    bottom: 15px;
    width: 100px;
}

@media only screen and (max-width: 412px) {
    header h1 { 
       font-size: 1.5em; 
    }
}
